<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
</head>

<body>
  <div id="app">
    <div v-if="isShow">
      <p>昵称: <input type="text" v-model="name"></p>
      <p>房间号: <input type="text" v-model="roomid"></p>
      <button type="button" @click="enter()">进入聊天室</button>
    </div>
    <div v-else>
      <ul>
        <li v-for="(item,index) in lists" :key="'message' + index"> {{item}} </li>
        <li>在线人数 {{num}}</li>
      </ul>
      <div class="ctrl">
        <!-- 输入框 -->
        <input type="text" v-model="message">
        <button type="button" @click="send()">按钮</button>
      </div>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: '',
        lists: [],
        ws: {},
        name: '',
        isShow: true,
        num: 0,
        roomid: '',
      },
      mounted() {
        this.ws = new WebSocket('ws://127.0.0.1:3000')
        this.ws.onopen = this.onOpen
        this.ws.onmessage = this.onMessage
        this.ws.onclose = this.onClose
        this.ws.onerror = this.onError
      },
      methods: {
        enter: function () {
          if (this.name.trim() === '') {
            alert('用户名不得为空')
            return
          }
          this.isShow = false
          this.ws.send(JSON.stringify({
            event: 'enter',
            message: this.name,
            roomid: this.roomid
          }))
        },
        onOpen: function () {
          console.log('open:' + this.ws.readyState);
          // ws.send('Hello from client')
        },
        onMessage: function (event) {
          // 当用户未进入聊天室，则不接收消息
          if (this.isShow) {
            return
          }
          // 接收服务端发送过来的消息
          var obj = JSON.parse(event.data);
          if (obj.event === 'enter') {
            // 当一个新的用户进入聊天室
            this.lists.push('欢迎: ' + obj.message + '加入聊天室')
          } else if (obj.event === 'out') {
            this.lists.push(obj.name + "已经退出了聊天室！")
          } else {
            if (obj.name !== this.name) { // 不等于自己的判断
              // 接收正常的聊天
              this.lists.push(obj.name + ":" + obj.message)
            }
          }
          this.num = obj.num
        },
        onClose: function () {
          console.log('close:' + this.ws.readyState);
          console.log('已关闭 websocket');
        },
        onError: function () {
          console.log('error:' + this.ws.readyState);
          console.log('websocket 连接失败！');
        },
        // 发送消息
        send: function () {
          this.lists.push(this.name + ":" + this.message)
          this.ws.send(JSON.stringify({
            event: 'message',
            message: this.message,
            name: this.name
          }))
          this.message = ''
        },
      }
    })
  </script>
</body>

</html>