// .hello {
//   color: black;
//   font-size: 14px;
// }
// map.scss
$spacers: (
  6: 60px,
  7: 70px,
) !default;
// unites.scss

$spacer: 8px;
$spacers: map-merge(
  $map1: (
    0: 0 * $spacer,
    1: 1 * $spacer,
    2: 2 * $spacer,
    3: 3 * $spacer,
    4: 4 * $spacer,
    5: 5 * $spacer,
  ),
  $map2: $spacers,
);

@each $key, $value in $spacers {
  .p-#{$key} {
    padding: $value;
  }
}
